@inject IJSRuntime JSRuntime
@using BlazorApp1.Components.StatusBadge
@using BlazorApp1.Models

<Card   Title="@Ticket.Header"
        IsClickable="true"
        ShowChevron="true"
        OnClick="@(() => OnTicketClick.InvokeAsync(Ticket.ID))">
    <HeaderContent>
        <div class="ticket-id">@Ticket.GetFormattedID()</div>
        <div class="ticket-time">
            <i class="bi bi-calendar3 me-1"></i>
            <span>@Ticket.GetTimeAgo()</span>
        </div> 
    </HeaderContent>
    <BodyContent>
        @Ticket.Details
    </BodyContent>
    <FooterContent>
        <div class="ticket-ref">
            <i class="bi bi-tag me-1"></i>
            <span>@Ticket.Category</span>
        </div>
        <StatusBadge Status="@Ticket.Status" />
    </FooterContent>
</Card>

@code {
    [Parameter]
    public Ticket Ticket { get; set; } = default!;

    [Parameter]
    public EventCallback<int> OnTicketClick { get; set; }
}